// Color Variables

$Strong-Cyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);
$Attibution: hsl(228, 45%, 44%);

// Font Variables
$font-size: 18px;
$font-stack: Arial, Helvetica, sans-serif;

// Inherited styles
%button-Style {
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    margin: 10px;
    color: white;
    font-size: $font-size;
    margin: 2rem 0.5rem;
}

%headings {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bolder;
    color: $DarkGrayishBlue;
}

%paragraph {
    color: $GrayishBlue;
    width: 50%;
    font-size: 1.2rem;
    margin: 1rem auto;
    line-height: 1.8em;
}


//Global Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    font-family: 'Bai Jamjuree', sans-serif;
}